#canvas-painter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font: 12px/16px 'Noto Sans', sans-serif;
  border-style: solid;
  border-width: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
hr {
  height: 0;
  border: none;
  border-top-width: 1px;
  border-top-style: solid;
  margin: 0;
}
.float-right {
  float: right;
}

/* PANEL ***********************************************/

.panel {
  position: absolute;
  z-index: 999;
}
.panel .panel-body,
.panel .panel-icon {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  top: 0;
  left: 0;
}
.panel .panel-icon {
  width: 40px;
  height: 40px;
  font-size: 34px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
}
.panel .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  line-height: 18px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.panel .header .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  bottom: 0;
  padding: 0 10px;
  overflow: hidden;
  cursor: move;
}
.panel .header .close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.panel .header .iconic {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 20px;
  text-align: center;
  cursor: pointer;
}
.panel .content {
  position: absolute;
  top: 25px;
  left: 5px;
  right: 5px;
  bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.panel .resizer {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px;
  cursor: se-resize;
}

/* Menu */

.menu {
  position: absolute;
  height: 25px;
  line-height: 25px;
}
.menu.main-menu {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}
.menu ul,
.menu ul li,
.menu span {
  display: block
}
.menu ul li {
  float: left;
  position: relative;
}
.menu span {
  padding: 0 10px;
  cursor: pointer;
}
.menu ul li ul {
  position: absolute;
  top: 25px;
  left: 0;
  display: none;
  min-width: 150px;
}
.menu ul li ul li {
  float: none;
}

/* Modal */

.modal {
  position: absolute;
  z-index: 20001;
  min-width: 200px;
  max-width: 1000px;
  min-height: 200px;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  line-height: 22px;
}
.modal .header {
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.modal .header .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 35px;
  bottom: 0;
  overflow: hidden;
  cursor: default;
}
.modal .header .close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  text-align: right;
  cursor: pointer;
}
.modal .header .close span {
  display: inline-block;
  font-size: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .content {
  position: absolute;
  top: 55px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: auto;
}
.dimmer {
  position: absolute;
  z-index: 20000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal .info {
  padding: 20px 20px 4px;
  text-align: center;
}
.modal .info p {
  margin-bottom: 20px
}

/* FORM */

input,
textarea,
select {
  border-width: 1px;
  border-style: solid;
}
input[type=text],
input[type=number],
textarea,
select {
  padding: 1px 5px;
  line-height: 20px;
}
label {
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
}
.enter-data {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
}
.enter-data p {
  margin-bottom: 15px;
}
.enter-data label {
  text-align: right;
}
.enter-data label,
.enter-data input[type=text] {
  float: left;
  width: 40%;
}
.enter-data input[type=number] {
  float: left;
  width: 25%;
  margin-right: 5px;
}

/* BUTTON */

.button-container {
  text-align: center
}
.enter-data .button-container {
  margin: 25px 0 0;
}
.button {
  display: inline-block;
  line-height: 34px;
  height: 34px;
  padding: 0 15px;
  text-align: center;
  min-width: 120px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0 7px;
  cursor: pointer
}

/* Expando */

.expando {
  margin-bottom: 10px
}
.expando .expando-header {
  height: 20px;
  line-height: 20px;
  padding: 0 10px 0 25px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.expando .expando-header:before {
  position: absolute;
  top: 4px;
  left: 7px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 5px 7px;
  border-style: solid;
}
.expando.open .expando-header:before {
  top: 6px;
  left: 7px;
  border-width: 7px 5px;
}
.expando .expando-body {
  padding: 5px;
}

/* Slider */

.slider {
  position: relative;
  height: 38px;
}
.slider label,
.slider input,
.slider .slider-output,
.slider .range,
.slider .range-line,
.slider .range-button {
  position: absolute;
}
.slider label {
  top: 0;
  left: 0;
  right: 45px;
  padding: 0;
  display: block;
  height: 15px;
  line-height: 15px;
  font-size: 10px;
}
.slider input,
.slider .slider-output {
  top: 0;
  right: 0;
  display: block;
  width: 35px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  font-family: monospace;
  font-size: 12px;
}
.slider .slider-output {
  overflow: hidden;
  cursor: pointer;
}
.slider input {
  display: none;
}
.slider .range {
  top: 20px;
  left: -5px;
  right: 7px;
  height: 15px;
  cursor: ew-resize;
}
.slider .range-line {
  top: 0;
  left: 5px;
  right: -7px;
  height: 3px;
}
.slider .range-button {
  width: 0;
  height: 0;
  border-width: 8px 6px;
  border-style: solid;
  top: -7px;
  left: 0;
}
.slider .range-button {
  width: 0;
  height: 0;
  border-width: 8px 6px;
  border-style: solid;
  top: -7px;
  left: 0;
}
.slider .range-button.animated {
  transition: left .2s;
  -webkit-transition: left .2s;
  -moz-transition: left .2s;
}

/* Color*/

.color-quad-container {
  padding: 5px 0;
  position: relative;
}
.color-quad-sample {
  position: absolute;
  top: 5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #CCC;
  box-shadow: inset 0 0 0 1px #FFF;
  background-color: #808080;
}
.color-quad-sample.background {
  top: 15px;
  left: 10px;
}
.color-quad-swap {
  position: absolute;
  top: 5px;
  left: 30px;
  width: 10px;
  height: 10px;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: #999;
  cursor: pointer;
}
.color-quad-swap:hover {
  color: #111
}
.color-quad {
  position: relative;
  height: 145px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.color-quad canvas {
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 1px;
  background-color: #FFF;
}
#color-cnv-gradient-sat-val {
  left: 0;
}
#color-cnv-gradient-hue {
  left: 150px;
}
.color-cursor {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 8px;
  height: 8px;
  border: solid 1px #333;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5), inset 0 0 0 1px rgba(255, 255, 255, .5);
  margin: -3px 0 0 -3px;
  border-radius: 5px;
}
.color-cursor.cursor-hue {
  width: 22px;
  height: 3px;
  border-radius: 2px;
  margin: 0;
  left: 150px;
}

/* Doc List *******************************************/

#docList-container {
  position: fixed;
  z-index: 100;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.doc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

/* Header *******************************************/

#header-container {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
#doc-selector-container {
  float: left;
  line-height: 22px;
  height: 22px;
  font-size: 11px;
  margin-top: 14px;
  white-space: nowrap;
}
#doc-selector {
  position: relative;
  display: inline-block;
  min-width: 100px;
  border: 1px solid transparent;
  margin-left: 10px;
  cursor: pointer;
}
#doc-selector-label {
  position: relative;
  padding: 0 37px 0 15px;
}
#doc-selector-label .no-documents{
  opacity: .5;
}
#doc-selector-label .fa {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  line-height: 22px;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 14px;
}
#doc-selector ul {
  position: absolute;
  left: 0;
  top: 22px;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}
#doc-selector:hover ul {
  width: auto;
  height: auto;
  opacity: 1;
}
#doc-selector ul li {
  min-width: 100px;
  padding: 0 15px;
}

/* Menu *******************************************/

#menu-container {
  float: left;
  border-right: 1px solid #DDD;
  margin-right: 15px;
}
.menu-div {
  position: relative;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  padding: 0 15px;
  cursor: pointer;
}
.menu-div ul {
  position: absolute;
  left: 0;
  top: 50px;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  -webkit-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;
}
.menu-div:hover ul {
  width: auto;
  height: auto;
  opacity: 1;
}
.menu-div ul li {
  line-height: 30px;
  padding: 0 15px;
  min-width: 80px;
  white-space: nowrap;
}
.menu-div ul li.separator {
  padding: 0;
  height: 1px;
}
.menu-div,
.menu-div ul li {
  -webkit-transition: background-color .1s;
  -ms-transition: background-color .1s;
  transition: background-color .1s;
}